<!DOCTYPE html>
<html>
<head>
	<!-- To make page responsive on mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>JobScout</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/landing.css' %}">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			    	<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
				<a href="/jobs" class="navbar-brand">JobScout</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/jobs">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/signup">Sign up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
					<li><a href="/login">Login <i class="fa fa-user" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>	
	</nav>

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="content">
						<h1>JobScout</h1>
						<h3>The #1 Tech Job Board in the Bay Area</h3>
						<hr>
						<a href="/jobs"><button class="btn btn-default btn-lg">Get Started</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 content-img">
					<img src="{% static 'users/images/content-1.jpg' %}" class="img-responsive img-thumbnail" alt="">
				</div>
				<div class="col-lg-6 content-text">
					<h2>Looking for a tech job?</h2>
					<hr>
					<p>Looking for a job in the tech industry can be frustrating. With JobScout, your job search options are narrowed down to only tech related jobs, taking the hassle out of your job search!</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 content-text">
					<h2>Find your dream job</h2>
					<hr>
					<p>Find your dream tech job in the Bay Area. From Front-End Developer jobs to Senior Software Engineer jobs, cut your job search time in half and get one step closer to finding your dream tech job!</p>
				</div>
				<div class="col-lg-6 content-img">
					<img src="{% static 'users/images/content-2.jpg' %}" class="img-responsive img-thumbnail" alt="">
				</div>
			</div>
		</div>
	</div>
	<hr style="width: 85%">

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 content-img">
					<img src="{% static 'users/images/content-3.jpg' %}" class="img-responsive img-thumbnail" alt="">
				</div>
				<div class="col-lg-6 content-text">
					<h2>Looking for developers?</h2>
					<hr>
					<p>Looking for developers can be frustrating. With JobScout, your employee search options are narrowed down to only tech related jobs, taking the hassle out of your search!</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="content-last" class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 content-text">
					<h2>Find your dream team</h2>
					<hr>
					<p>Find your dream team of developers in the Bay Area. From Junior Front-End Developers to Senior Software Engineers jobs, cut your search time in half and get one step closer to finding your dream team of developers!</p>
				</div>
				<div class="col-lg-6 content-img">
					<img src="{% static 'users/images/content-4.jpg' %}" class="img-responsive img-thumbnail" alt="">
				</div>
			</div>
		</div>
	</div>

	<div id="signup">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="footer">
						<h2>Signup on JobScout!</h2>
						<hr style="width: 50%;">
						<a href="/signup"><button id="button1" class="btn btn-default">Looking For Jobs</button></a>
						<a href="/employers/signup"><button class="btn btn-default">Looking For Employees</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>