<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>JobScout | User {{ user.first_name }}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/show.css' %}">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">JobScout</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li><a href="/jobs">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="/user/{{ user.id }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Hi, {{ user.first_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/{{ user.id }}">Profile</a></li>
                            <li><a href="/user/{{ user.id }}/resume">Resume</a></li>
                            <li><a href="/user/{{ user.id }}/edit/profile">Edit Profile</a></li>
                            <li><a href="/user/{{ user.id }}/edit/resume">Edit Resume</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout">Logout</a></li>                
                </ul>
            </div>
        </div>	
    </nav>

    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="navstack">
                        <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="/user/{{ user.id }}">Profile</a></li>
                                <li role="presentation"><a href="/user/{{ user.id }}/resume">Resume</a></li>
                                <li role="presentation"><a href="/user/{{ user.id }}/edit_info">Edit Profile</a></li>
                                <li role="presentation" class="active"><a href="/user/{{ user.id }}/edit/resume">Edit Resume</a></li>
                        </ul>
                    </div>
                </div>

                <div id="resume">
                    <div class="col-lg-8">
                        <h2>Work Experience</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert alert-danger">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <form action="/user/add/experience" method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputTitle">Job Title</label>
                                <input type="text" class="form-control" id="inputTitle" name="job_title">
                            </div>
                            <div class="form-group">
                                <label for="inputCompany">Company</label>
                                <input type="text" class="form-control" id="inputCompany" name="company">
                            </div>
                            <div class="form-group">
                                <label for="inputJobCity">City</label>
                                <input type="text" class="form-control" id="inputJobCity" name="job_city">
                            </div>
                            <div class="form-group">
                                <label for="inputStartDate">Start Date</label>
                                <input type="date" class="form-control" id="inputStartDate" name="time_start" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                            </div>
                            <div class="form-group">
                                <label for="inputEndDate">End Date</label>
                                <input type="date" class="form-control" id="inputEndDate" name="time_end" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Description</label>
                                <textarea class="form-control" id="inputDescription" name="job_description"></textarea>
                            </div>
                            <input type="hidden" name="resume_id" value="{{ resume.id }}">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Add Work Experience</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>