<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <!-- home and what not -->
        </div>
        <div id="body">
            <h1>Start finding top employees now!</h1>

            <h3>How JobScout helps you find the best</h3>
            <p>Here at JobScout we have a special verification process.
                We have programmers with experience check the validity of the work 
                done by these users to make sure that the people applying for your position aren't 
                lying about the experience they may or may not have.
            </p>
            <!-- some motivational picture or some stuff -->
            <h3>What makes our process faster than any other website?</h3>
            <p>Great question! On top of verified information on a resume, all tech companies
                want to do their own checking. We require a mandatory coding challenge to be 
                uploaded for every job listing. We may have verified information, however,
                that doesn't mean that theya re up to your standards. That's why we make you 
                add your own test.
            </p>
            <!-- some motivational picture or some stuff -->
            <p>We help eliminate all those pesky phone interviews and countless
                hours wasted on meeting with people and then giving them an algorithm
                test that they don't even pass. Now check before they even come in!
            </p>
            <!-- some motivational picture or some stuff -->
            <a href="/employers/register"><button>Sign up now!</button></a>
        </div>
    </div>
    <!-- page about wanting to be an employer and a button at the bottom
        that takes you to a form where the employer puts info about themselves and 
     immediately becomes an employer, that form will send them to thier profile
    
    make a form to add a new listing. -->


</body>
</html>