<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <dev id="wrapper">
        <div id="header">
            <!-- home and stuff -->
        </div>
        <div id="body">
            <form action="/post" method="post">
                Job Title: <input type="text" name="title">
                Job Description: <textarea name="description" cols="30" rows="10"></textarea>
                Responsibilities: <textarea name="responsibilities" cols="30" rows="10"></textarea>
                Qualifications: <textarea name="qualifications" cols="30" rows="10"></textarea>
                Required Experience: <textarea name="required_experience" cols="30" rows="10"></textarea>
            </form>
        </div>
    </dev>    
</body>
</html>